Program/ShareIt/ShareIt/Test/Service References/ServiceReference1/AccessRightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccessRightService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" />
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:1266/AccessRightService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccessRightService_MakeAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeAdmin" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_MakeAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_MakeAdmin_UnauthorizedClientFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q1:UnauthorizedClient" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_MakeAdmin_UnauthorizedUserFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q2:UnauthorizedUser" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_MakeAdmin_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q3:FaultException" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Delete_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q4:FaultException" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Delete_UnauthorizedClientFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q5:UnauthorizedClient" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Delete_UnauthorizedUserFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q6:UnauthorizedUser" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_EditExpiration_InputMessage">
    <wsdl:part name="parameters" element="tns:EditExpiration" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_EditExpiration_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditExpirationResponse" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_EditExpiration_UnauthorizedClientFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q7:UnauthorizedClient" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_EditExpiration_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q8:FaultException" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_EditExpiration_UnauthorizedUserFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q9:UnauthorizedUser" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Purchase_InputMessage">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Purchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Purchase_UnauthorizedUserFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q10:UnauthorizedUser" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Purchase_UnauthorizedClientFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q11:UnauthorizedClient" />
  </wsdl:message>
  <wsdl:message name="IAccessRightService_Purchase_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q12:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IAccessRightService">
    <wsdl:operation name="MakeAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccessRightService/MakeAdmin" message="tns:IAccessRightService_MakeAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccessRightService/MakeAdminResponse" message="tns:IAccessRightService_MakeAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/MakeAdminUnauthorizedClientFault" name="UnauthorizedClientFault" message="tns:IAccessRightService_MakeAdmin_UnauthorizedClientFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/MakeAdminUnauthorizedUserFault" name="UnauthorizedUserFault" message="tns:IAccessRightService_MakeAdmin_UnauthorizedUserFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/MakeAdminFaultExceptionFault" name="FaultExceptionFault" message="tns:IAccessRightService_MakeAdmin_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccessRightService/Delete" message="tns:IAccessRightService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccessRightService/DeleteResponse" message="tns:IAccessRightService_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/DeleteFaultExceptionFault" name="FaultExceptionFault" message="tns:IAccessRightService_Delete_FaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/DeleteUnauthorizedClientFault" name="UnauthorizedClientFault" message="tns:IAccessRightService_Delete_UnauthorizedClientFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/DeleteUnauthorizedUserFault" name="UnauthorizedUserFault" message="tns:IAccessRightService_Delete_UnauthorizedUserFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditExpiration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccessRightService/EditExpiration" message="tns:IAccessRightService_EditExpiration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccessRightService/EditExpirationResponse" message="tns:IAccessRightService_EditExpiration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/EditExpirationUnauthorizedClientFault" name="UnauthorizedClientFault" message="tns:IAccessRightService_EditExpiration_UnauthorizedClientFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/EditExpirationFaultExceptionFault" name="FaultExceptionFault" message="tns:IAccessRightService_EditExpiration_FaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/EditExpirationUnauthorizedUserFault" name="UnauthorizedUserFault" message="tns:IAccessRightService_EditExpiration_UnauthorizedUserFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccessRightService/Purchase" message="tns:IAccessRightService_Purchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccessRightService/PurchaseResponse" message="tns:IAccessRightService_Purchase_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/PurchaseUnauthorizedUserFault" name="UnauthorizedUserFault" message="tns:IAccessRightService_Purchase_UnauthorizedUserFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/PurchaseUnauthorizedClientFault" name="UnauthorizedClientFault" message="tns:IAccessRightService_Purchase_UnauthorizedClientFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccessRightService/PurchaseFaultExceptionFault" name="FaultExceptionFault" message="tns:IAccessRightService_Purchase_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccessRightService" type="tns:IAccessRightService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeAdmin">
      <soap:operation soapAction="http://tempuri.org/IAccessRightService/MakeAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedClientFault">
        <soap:fault use="literal" name="UnauthorizedClientFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedUserFault">
        <soap:fault use="literal" name="UnauthorizedUserFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAccessRightService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedClientFault">
        <soap:fault use="literal" name="UnauthorizedClientFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedUserFault">
        <soap:fault use="literal" name="UnauthorizedUserFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EditExpiration">
      <soap:operation soapAction="http://tempuri.org/IAccessRightService/EditExpiration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedClientFault">
        <soap:fault use="literal" name="UnauthorizedClientFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedUserFault">
        <soap:fault use="literal" name="UnauthorizedUserFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap:operation soapAction="http://tempuri.org/IAccessRightService/Purchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnauthorizedUserFault">
        <soap:fault use="literal" name="UnauthorizedUserFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnauthorizedClientFault">
        <soap:fault use="literal" name="UnauthorizedClientFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccessRightService">
    <wsdl:port name="BasicHttpBinding_IAccessRightService" binding="tns:BasicHttpBinding_IAccessRightService">
      <soap:address location="http://localhost:1266/AccessRightService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>