Program/ShareIt/ShareIt/Test/Service References/ServiceReference2/MediaItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" />
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:1266/MediaItemService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMediaItemService_GetMediaItemInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaItemInformation" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaItemInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemInformation_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemInformation_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q2:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaItems" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItems_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q3:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItems_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q4:FaultException" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaItemsByType" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaItemsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemsByType_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q5:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_GetMediaItemsByType_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q6:FaultException" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMediaItems" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMediaItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItems_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q7:FaultException" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItems_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q8:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItemsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMediaItemsByType" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItemsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMediaItemsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItemsByType_ArgumentFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.FaultDataContracts" name="detail" element="q9:ArgumentFault" />
  </wsdl:message>
  <wsdl:message name="IMediaItemService_SearchMediaItemsByType_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q10:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IMediaItemService">
    <wsdl:operation name="GetMediaItemInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemInformation" message="tns:IMediaItemService_GetMediaItemInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemInformationResponse" message="tns:IMediaItemService_GetMediaItemInformation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemInformationFaultExceptionFault" name="FaultExceptionFault" message="tns:IMediaItemService_GetMediaItemInformation_FaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemInformationArgumentFaultFault" name="ArgumentFaultFault" message="tns:IMediaItemService_GetMediaItemInformation_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItems" message="tns:IMediaItemService_GetMediaItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsResponse" message="tns:IMediaItemService_GetMediaItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsArgumentFaultFault" name="ArgumentFaultFault" message="tns:IMediaItemService_GetMediaItems_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsFaultExceptionFault" name="FaultExceptionFault" message="tns:IMediaItemService_GetMediaItems_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaItemsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsByType" message="tns:IMediaItemService_GetMediaItemsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsByTypeResponse" message="tns:IMediaItemService_GetMediaItemsByType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsByTypeArgumentFaultFault" name="ArgumentFaultFault" message="tns:IMediaItemService_GetMediaItemsByType_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/GetMediaItemsByTypeFaultExceptionFault" name="FaultExceptionFault" message="tns:IMediaItemService_GetMediaItemsByType_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMediaItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItems" message="tns:IMediaItemService_SearchMediaItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsResponse" message="tns:IMediaItemService_SearchMediaItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsFaultExceptionFault" name="FaultExceptionFault" message="tns:IMediaItemService_SearchMediaItems_FaultExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsArgumentFaultFault" name="ArgumentFaultFault" message="tns:IMediaItemService_SearchMediaItems_ArgumentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMediaItemsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsByType" message="tns:IMediaItemService_SearchMediaItemsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsByTypeResponse" message="tns:IMediaItemService_SearchMediaItemsByType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsByTypeArgumentFaultFault" name="ArgumentFaultFault" message="tns:IMediaItemService_SearchMediaItemsByType_ArgumentFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMediaItemService/SearchMediaItemsByTypeFaultExceptionFault" name="FaultExceptionFault" message="tns:IMediaItemService_SearchMediaItemsByType_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMediaItemService" type="tns:IMediaItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMediaItemInformation">
      <soap:operation soapAction="http://tempuri.org/IMediaItemService/GetMediaItemInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMediaItems">
      <soap:operation soapAction="http://tempuri.org/IMediaItemService/GetMediaItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMediaItemsByType">
      <soap:operation soapAction="http://tempuri.org/IMediaItemService/GetMediaItemsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaItems">
      <soap:operation soapAction="http://tempuri.org/IMediaItemService/SearchMediaItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchMediaItemsByType">
      <soap:operation soapAction="http://tempuri.org/IMediaItemService/SearchMediaItemsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ArgumentFaultFault">
        <soap:fault use="literal" name="ArgumentFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaItemService">
    <wsdl:port name="BasicHttpBinding_IMediaItemService" binding="tns:BasicHttpBinding_IMediaItemService">
      <soap:address location="http://localhost:1266/MediaItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>