Program/ArtShare/ArtShare/Service References/AuthServiceClient/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt08/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt08/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt08/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt08/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt08/AuthService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ValidateUser_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CheckClientExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckClientExists" />
  </wsdl:message>
  <wsdl:message name="IAuthService_CheckClientExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckClientExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_IsUserAdminOnClient_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAdminOnClient" />
  </wsdl:message>
  <wsdl:message name="IAuthService_IsUserAdminOnClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserAdminOnClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ValidateUser" message="tns:IAuthService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ValidateUserResponse" message="tns:IAuthService_ValidateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAuthService/ValidateUserFaultExceptionFault" name="FaultExceptionFault" message="tns:IAuthService_ValidateUser_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckClientExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/CheckClientExists" message="tns:IAuthService_CheckClientExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/CheckClientExistsResponse" message="tns:IAuthService_CheckClientExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserAdminOnClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/IsUserAdminOnClient" message="tns:IAuthService_IsUserAdminOnClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/IsUserAdminOnClientResponse" message="tns:IAuthService_IsUserAdminOnClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckClientExists">
      <soap:operation soapAction="http://tempuri.org/IAuthService/CheckClientExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserAdminOnClient">
      <soap:operation soapAction="http://tempuri.org/IAuthService/IsUserAdminOnClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://rentit.itu.dk/RentIt08/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>