Program/ShareIt/ShareIt/Test/Service References/ServiceReference4/TransferService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1266/TransferService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
  <xs:import schemaLocation="http://localhost:1266/TransferService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" minOccurs="0" name="User" nillable="true" type="q1:UserDTO" />
        <xs:element minOccurs="0" name="MediaId" type="xs:int" />
        <xs:element minOccurs="0" name="ClientToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileByteStreamLength" type="xs:long" />
  <xs:element name="FileExtension" nillable="true" type="xs:string" />
  <xs:element name="UploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="FileByteStream" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientToken" nillable="true" type="xs:string" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" name="MetaData" nillable="true" type="q4:MediaItemDTO" />
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" name="Owner" nillable="true" type="q5:UserDTO" />
  <xs:element name="UploadStatusMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadSucceeded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>