Program/ShareIt/ShareIt/Test/Service References/ServiceReference4/TransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1266/TransferService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1266/TransferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1266/TransferService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicLayer.DTO" />
      <xsd:import schemaLocation="http://localhost:1266/TransferService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadResponse">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadResponse_Headers">
    <wsdl:part name="FileByteStreamLength" element="tns:FileByteStreamLength" />
    <wsdl:part name="FileExtension" element="tns:FileExtension" />
  </wsdl:message>
  <wsdl:message name="UploadRequest">
    <wsdl:part name="parameters" element="tns:UploadRequest" />
  </wsdl:message>
  <wsdl:message name="UploadRequest_Headers">
    <wsdl:part name="ClientToken" element="tns:ClientToken" />
    <wsdl:part name="FileByteStreamLength" element="tns:FileByteStreamLength" />
    <wsdl:part name="MetaData" element="tns:MetaData" />
    <wsdl:part name="Owner" element="tns:Owner" />
  </wsdl:message>
  <wsdl:message name="UploadStatusMessage">
    <wsdl:part name="parameters" element="tns:UploadStatusMessage" />
  </wsdl:message>
  <wsdl:portType name="ITransferService">
    <wsdl:operation name="DownloadMedia">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/DownloadMedia" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/DownloadMediaResponse" name="DownloadResponse" message="tns:DownloadResponse" />
    </wsdl:operation>
    <wsdl:operation name="UploadMedia">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/UploadMedia" name="UploadRequest" message="tns:UploadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/UploadMediaResponse" name="UploadStatusMessage" message="tns:UploadStatusMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransferService" type="tns:ITransferService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITransferService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadMedia">
      <soap:operation soapAction="http://tempuri.org/ITransferService/DownloadMedia" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadResponse">
        <soap:header message="tns:DownloadResponse_Headers" part="FileByteStreamLength" use="literal" />
        <soap:header message="tns:DownloadResponse_Headers" part="FileExtension" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMedia">
      <soap:operation soapAction="http://tempuri.org/ITransferService/UploadMedia" style="document" />
      <wsdl:input name="UploadRequest">
        <soap:header message="tns:UploadRequest_Headers" part="ClientToken" use="literal" />
        <soap:header message="tns:UploadRequest_Headers" part="FileByteStreamLength" use="literal" />
        <soap:header message="tns:UploadRequest_Headers" part="MetaData" use="literal" />
        <soap:header message="tns:UploadRequest_Headers" part="Owner" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadStatusMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port name="BasicHttpBinding_ITransferService" binding="tns:BasicHttpBinding_ITransferService">
      <soap:address location="http://localhost:1266/TransferService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>